extends layout

block content
	- if(isSuccess)
		script.
			location.href = '/join/#{roomid}';
			
	- else if( roomid === '')
		script.
			alert('방을 만들지 못했어요');
			history.go(-1);
	- else 
		script.
			alert('이미 존재하는 방이에요');
			history.go(-1);